.image{
    background: url("../../assets/images/backgrounds/Default_shoe_shop_images_for_system_login_page_3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}